
<div class="row">
  <div class="col-sm-6">
    <h1>Memories</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_memory_path, class: 'btn btn-primary' do %>
    Add New Memory
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Title</th>
            <th>Video</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @memories.each do |memory| %>
        <%= content_tag :tr, id: dom_id(memory), class: dom_class(memory) do %>
          

                      <td><%= memory.title %></td>
                      <td><%= memory.video %></td>
          
          
            <td><%= link_to 'Show', memory %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
