<div class="page-header">
  <%= link_to memories_path, class: 'btn btn-default' do %>
    All Memories
  <% end %>
  <%= link_to edit_memory_path(@memory), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show memory</h1>
</div>

<dl class="dl-horizontal">
  <dt>Title:</dt>
    <dd><%= @memory.title %></dd>
  <dt>Video:</dt>
    <%= video_tag @memory.video, controls: true, preload: 'auto', width: 320, height: 240 %>
  <dt>QR Code ID:</dt>
    <%= @memory.qr_code %>
  <dt>Visibility:</dt>
  Participant <%= @memory.visibility %>
</dl>

